  .deployments
    .deployment-url
      text-decoration: none
      color: inherit

    .column-scale
      width: 4em

    .column-date
      width: 20em

    .column-type
      width: 8em

    .column-state
      width: 16em

    .column-delete
      width: 8em
