@require './scrollbar.styl'

.filetree
  .progress-linear 
    position: absolute
    
  .filetree-content
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    overflow: auto
    scrollbar()

  .expansion-panel__header
    padding: 12px 16px
