  .fileview
    pre
      background: transparent
    code
      width: 100%
      background: transparent
      border: none
      box-shadow: none
      color: white
      &::before
        content: ''
