@require './scrollbar.styl'

.fileview
    max-height: 600px
    overflow: auto
    scrollbar()

  pre
    background: transparent

  code
    width: 100%
    background: transparent
    border: none
    box-shadow: none
    color: white
    &::before
      content: ''

  .fileview-icon
    min-width: 32px
