scrollbar(width = 6px)
  &::-webkit-scrollbar
    width: width
    background-color: rgba(0, 0, 0, 0)

    &:hover
      background-color: rgba(0, 0, 0, 0.1)

  &::-webkit-scrollbar-thumb
    background: #434343

    &:active
      background: #000
